streamlit

numpy
pandas

#FaceRecognition
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools

supabase
bcrypt

segno
pillow


librosa=0.10.2.post1
resemblyzer==0.1.4