streamlit

numpy==1.26.4
pandas

#FaceRecognition
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools

supabase
bcrypt

segno
pillow


librosa==0.10.2.post1
resemblyzer==0.1.4
soundfile==0.12.1
scipy==1.13.1
torch>=2.3.1
llvmlite==0.43.0
numba==0.60.0



