streamlit

numpy
pandas

#FaceRecognition
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools

supabase
bcrypt

segno
pillow


librosa
resemblyzer

face_recognition_models

